h2{
    letter-spacing: 0.5rem;
    font-family: gtek;
    font-size: 5rem;
}
.about{
    position: fixed;
    top: 40%;
    left: 22%;
    transform: translate(-50% -50%);
    width: 28%;
}
.about h2{
    margin-bottom: 2rem;
}
.about p{
    margin-bottom: 0.5rem;
}