
.jobs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h2{
    font-family: gtek;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 5rem;
}

main section {
    background-color: #ffffff97;
    border-bottom: #F18F01 0.5rem solid;
    color: black;
    
    padding-left: 2rem;
    height: 22vh;
    width: 25%;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.job{
    padding: 1rem;
}

.job div{
    display: flex;
    flex-direction: column;
}
.job img{
    max-height: 22vh;
    max-width: 50%;
    float: left;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}

.job h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.job h4{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.job p{
    font-size: 0.7rem;
}
.job button{
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #F18F01;
    color: white;
    border-radius: 0.5rem;
    width: 40%;
    margin-right: 1rem;
    cursor: pointer;
}
#info{
    background-color: #272c3c;
}
.job:hover, .job:focus-within {
    transform: scale(1.1);
    opacity: 60%;
    transition: ease-in-out 0.5s;
}

#buttons{
    display: flex;
    flex-direction: row;
}