body {
    font-family: Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

/*************/
/** Header **/
/*************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(50, 191, 247);
    font-weight: bold;
    border-bottom: solid rgb(63, 62, 62);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    align-items: center;
}

header img {
    max-width: 25%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 100%;
}

header li {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}

header a {
    text-decoration: none;
    color: rgb(63, 62, 62);
    padding: 0.25rem;
}

header li + li {
    border-left: solid rgb(63, 62, 62);
    padding-left: 1rem;
}

.activeNav {
    background-color: rgb(198, 197, 197, 0.8);
    border: solid rgba(156, 156, 156, 0.8);
}

/***********/
/** Main **/
/***********/
main {
    margin-top: 1rem;
    height: 70%;
}

#banner {
    background-image: url(../media/Mars-banner.jpg);
    height: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    background-size: cover;
}

main h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 2rem;
}

#banner div {
    text-align: center;
}

#banner a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    background-color: rgb(87, 87, 87, 0.8);
    border-radius: 3%;
}

#footerBorder {
    margin-top: 1rem;
    width: 90%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid rgb(63, 62, 62);
}

/*************/
/** Footer **/
/*************/
footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer li {
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    line-height: 150%;
}

footer a {
    text-decoration: none;
    color: black;
}

#instagram {
    background-image: url(../media/instagram.png);
    background-size: 25%;
    text-indent: 10%;
}

#facebook {
    background-image: url(../media/facebook.png);
    background-size: 25%;
    text-indent: 10%;
}

#twitter {
    background-image: url(../media/twitter.png);
    background-size: 50%;
    text-indent: 20%;
}