main{
    background-image: url("../media/robotarm.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 65vh;
}

.middle_part{
    position: fixed;
    top: 45%;
    left: 22%;
    letter-spacing: 0.5rem;
    font-family: gtek;
    transform: translate(-50% -50%);
    color: white;
}
.middle_part h2, .middle_part h3{
    position: relative;
    left: 1rem;
}
.middle_part h2{
    font-size: 6rem;
}
.field{
    top: -70%;
    left: 0;
    z-index: -5;
    background-color: #F18F01;
    position: absolute;
    height: 12rem;
    width: 5rem;
}

.button a{
    font-family: gtek;
    color: white;
    padding: 1rem;
    border: 0.1rem solid white;
    position: absolute;
    top: 70%;
    left: 22%;
}
.button a{
    color: white;
    text-decoration: none;
}
.button a:hover{
    background-color: #F18F01;
    transition: 1s ease;
}

.bottom_piece{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    height: 10rem;
}
.bottom_piece h3{
    letter-spacing: 0.2rem;
    margin: 1rem 2rem;
    font-family: gtek;
    font-size: 2rem;
}
.bottom_piece p{
    margin-left: 2rem;
    margin-right: 10rem;
    width: 60%;
}
.background_rightunder{
    opacity: 20%;
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
}



