
#our_team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main h2 {
    font-family: gtek;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

main section {
    background-color: #FFFFFF;
    border-bottom: #F18F01 0.5rem solid;
    color: black;

    padding-left: 2rem;
    height: 22vh;
    width: 25%;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main section img{
    max-height: 22vh;
}
main section:hover, main section:focus-within {
    transform: scale(1.1);
    opacity: 60%;
    transition: ease-in-out 0.5s;
}
.name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.email {
    margin-top: 1rem;
    font-size: 0.6rem;
    text-decoration: underline;
}

